* {
    box-sizing: border-box;    
  }
  
  a {
    text-decoration: none; /* todos os links sem sublinhado */
  }

  p{
    margin: 0%;
    text-align: justify;
  }
  
  body {
    font-family: "Lucida Sans", sans-serif;
    margin: 0;
  }
  
  
  /******************************************************************* layout colunas */
  .col-1, .col-2, .col-3 {
    float: left; /* para layout flexbox, retirar esta linha */
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
  }
  
  footer{
      clear: left; /* para layout flexbox, retirar esta linha */
  }
  
  .container {
    background-color: #D6E9FE;
    overflow: hidden; /* para layout flexbox, retirar esta linha e substituir pelas 3 linhas abaixo */
   /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
  }
  
  
  
  /*********************************************************************** header*/
  header, footer {
    background-color: #5995DA;
    color: #ffffff;               
    padding: 10px;
    position: relative;
  }
  
  header a:link, header a:visited, footer a:link, footer a:visited {
    color: #fff;
  }
  
  header h1 {
    position: relative;
    padding-left: 20px;
    text-shadow: 2px 0 2px #000; 
    color: #eee; 
    font-family: 'Lobster', cursive;
    font-size: 3em;
  }
  
  #menu-login {
    position: absolute;
    top: 0;
    right: 10px;
  }
  
  #login, #carrinho {
    margin: 0 10px;
  }
  
  /******************************************************************** menu superior */
  .menu-opcoes {
      display: none; /* aqui  */
  }
  
  .menu-opcoes ul {
    font-size: 1em;
    text-transform: uppercase;
  }
  
  .menu-opcoes ul li {
    margin-right: 10px;
    list-style-type: none;
  }
  
  .menu-opcoes a:hover {
    text-shadow: 2px 2px 2px #000;
    border-bottom: 2px solid white;
  }
  
  .menu-opcoes a:active {
    color: #867DC6;
  }
  
  /************************************************************************* titulos das secoes */
  h2 {
    padding: 10px 0 0px 10px; 
    color: #333;
    font-size: 1.3em;
  }
  
  /***************************************************************************** menu categorias */
  .menu-categorias {
    background-color: #F5CF8E; 
    border-radius: 10px;    
  }
  
  .menu-categorias ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
  }
  
  .menu-categorias li {
    text-transform: uppercase;
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
  }
  
  .menu-categorias li:hover {
    background-color: #ddd;
  }
  
  .menu-categorias a {
    color: #333333;
    text-decoration: none;
  } 
  
  /************************************************************************************ busca */
  section.busca {
    border-radius: 10px;
    background-color: #F09A9D; 
    padding: 15px;
  }
  
  .busca input[type=search] {
    width: 80%; 
  }
  
  /*********************************************************************************** produtos */
  div.lista-produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  
  }
  
  div.produto{
    width: 200px;
    height: 250px;
    margin: 10px;
    background-color: white;
    text-align: center;
  }
  
  div.produto .rapida{
    margin: 20px 5px;
    padding: 3px;
    background-color: #ccc;
    cursor: pointer;
  }
  
  div.produto .noCarrinho{
    margin: 20px 5px;
    padding: 3px;
    background-color: lightgreen;  
    cursor: default;
  }
  
  div.produto figure{
    margin:0;
  }
  
  div.produto a{
    color: #666;
  }
  
  div.produto .precoInicial{
    font-weight: bold;
    text-decoration: line-through;
    color: gray;
  }
  
  div.produto .precoFinal{
    font-weight: bold;
    color: red;
  }
  
  div.produto img{
    width: 150px;
    transition: 0.5s;
  }
  
  div.produto:hover {
    box-shadow: 2px 2px 5px #333;
    transition: 0.5s;
  }
  
  /************************************************************************** mais pedidos */
  aside {
    background: rgb(200, 191, 231);
    border-radius: 10px;  
  } 
  
  aside .lista-produtos{
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    padding-bottom: 20px;
  }
  
  aside .produto {
    transform: scale(0.7);
    width: 150px;
    height: 150px;
  }
  
  /************************************************************************ redes sociais */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .social {
    padding: 0;
  }
  
  .social li{
    display: inline;
  }
  
  /*************************************************** div ajuda */
  
  #ajuda{
      width: 200px;
      height: 100px;
      background-color: lightgreen;
      color: black;
      padding: 5px;
      position: fixed;
      bottom: 0px;
      right: 200px;
        display: none;
  }
  
  #ajuda #fechar{
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      background-color: #ccc;
      border: 1px solid black;
      padding: 2px 5px;
      cursor: pointer;
  }
  /********************************************************************************* QUEM SOMOS**/
   
  section p{
    text-align: justify;
    
  }
  h2{
    text-align: center;
    

  }

  #leitura{
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }
   
  /********************************************************************************* queries **/
  @media only screen and (min-width: 600px) {
    /* para tablets: */
      .col-1 {width: 30%;}
      .col-2 {width: 70%;}
      .col-3 {width: 100%;} 
  
      /* para layout flexbox, substituir as 3 linhas acima pelas 6 abaixo */
      /*.col-1 {flex: 30%;}
      .col-2 {flex: 70%;}
      .col-3 {flex: 100%;}
      .container{
        flex-direction: row;
      }*/      
  
      footer {
        flex-direction: row;
      }      
  }
  
  @media only screen and (min-width: 1000px) {
      /* para desktop: */
      .col-1 {width: 20%;}
      .col-2 {width: 60%;}
      .col-3 {width: 20%;}
  
      /* para layout flexbox, substituir as 3 linhas acima pelas 3 abaixo */
     /* .col-1 {flex: 20%;}
      .col-2 {flex: 60%;}
      .col-3 {flex: 20%;}*/
      .exibi-menu{
        display: none;
      }
      .menu-opcoes {
          position: absolute;
          bottom: 0;
          right: 10px;
          display: initial;
  
          /* para layout flexbox, substituir as 3 linhas acima pela abaixo */
          /*align-self: flex-end;*/
      }   
          
      .menu-opcoes ul li{
          display: inline; /* menu superior se torna horizontal */
      }   
  
      #ajuda{
        display: initial;
      }
  }  
  