/* formatações gerais */

body {
	font-family: arial, sans-serif, monospace;
	margin: 0;
	font-size: 1.2em;
}

header, footer{
	background-color: steelblue;
}

nav {
	background-color: orange;
}

header, footer, nav, main {
	padding: 10px;
}

h1, footer {
	color: #D7C16F;
}

h2 {
	color: #AC653B;
}

header p {
	color: mintcream;
}

main {
	background-color: mintcream;
}

/* tabela */
th, table, td{
	border: 1px solid black;
	border-collapse: collapse;
}

th{
	background-color: #AC653B;
	color: white;
}

tr:nth-child(even){
	background-color: #FFEEAF;
}

tr:nth-child(odd){
	background-color: #CCC;
}


/* links */

a {
	text-decoration: none;
}

a:link, a:visited{
	color: #574400;
}

a:active{
	color: lightblue;
}

a:hover{
	color: #143055;
	text-shadow: 3px 3px 5px white; /* sombra horiz., vert., distancia e cor */
}

/* menu */
nav ul li {
	display: inline;
	margin-right: 20px;
}

/* portfolio */

figure img{
	width: 300px;
	height: 200px;
}

figure{
	float: left;
}

#gostou{
	clear: left;
}

figure:hover{
	box-shadow: 5px 5px 10px gray;
	transform: scale(1.2) rotate(-5deg);
	transition: 0.5s;
}

/* formulario */

input, select, textarea{
	border: 2px solid #826B16;
	border-radius: 10px;
	padding: 5px 10px; /* 5 no top e bottom; 10 no left e right */
	margin: 10px 0px;
	font-family: monospace;
}

input:focus, select:focus, textarea:focus{
	border: 2px solid #572000;
	background-color: #EEE;
	font-weight: bold;
}

.rotulo{
	width: 140px;
	display: inline-block;
	text-align: right;
}
