body{
    font-family: "Lucida Sans", sans-serif;   
}

header, footer{
    background-color: #9933CC;
    color: #FFFFFF;
    padding: 15px;
}

aside{
    background-color: lightgreen;
    margin-top: 15px;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    
}

nav li {
   padding: 8px;
   margin-bottom: 8px; 
   background-color: #33B5E5;
   color: #FFFFFF;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

nav li:hover{
    background-color: #0099CC;
}

*{
    box-sizing: border-box ;
    
}
.col-1, .col-2, .col-3 {
    float: left; /* para layout flexbox, retirar esta linha */
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}

h2{ /* palavra categoria    */
    text-align: center;
}
section p{
    text-align: justify;
    
}
p{
    text-align: center;
}

/* produtos a venda */
.lista-produtos{
    text-align: center;
    
}
.produto, .noCarrinho, .rapida {
    display: inline-block;
    text-align: center;
    
}

.busca{ /* espaçamento para guia de busca   */
    padding: 8px;

}
figure{
    /* display: inline-block; */
    margin: 0;
}
figure:hover{   /* colocando efeito nas imagens*/
	box-shadow: 5px 5px 10px gray;
	
}

/* arrumando coisas aaaa */
.container{
    background-color: #eeeeee;
    overflow: hidden; /* arruma a questão do footer de contatos e nanana*/
}

.social {   /* rodape final */
    width: 200px;
    margin: auto;
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
   
}

/* ID   */
#titulo {
    position: relative;
    top: 10px;
}
#menu-login{
    bottom: 0;
    text-align: right;
    margin-bottom: 8px;
}

#lista-produtos{
    bottom: 0;
    text-align: right;
    margin-bottom: 8px;

}


/*  PAGINA DE QUEM SOMOS    */
#leitura{
    width: 60%;
    margin: auto;
}

#ajuda{
    text-align: center;

}